body{
    font-family: 'Lato',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 4600px;
    flex-direction: row;
}



.container{
    height: 1000px;
    width:1500px;
    top:0;
    left:0;
    border: 2px solid blue;
    position: relative;
}

.caption{
    flex-direction: column;
    color:white;
    font-size: 48px;
    text-transform: capitalize;
    width: 100%;
    background:transparent;
    opacity: 0.5;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: 50% 40%;
    transform: rotateX(-90deg);
}

.img1:before{
    content: '';
    top:0;
    left:0;
    position: relative;
    height: 100%;
    width: 100%;
    opacity: 1;
    background-color: #272727;
}

.container:hover .caption{
    transform: rotateX(0deg);
    transition-delay: 1s;

}